<html>
<head>
    <title>Личная библиотека книг</title>
</head>
<body>
<h1>Добавить книгу</h1>
<form action="{{ path('book_store_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Добавить"/>
</form>
</body>
</html>